*{
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
p{
  font-size: .95em;
  margin-bottom: 1.8em;
}
body{
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
  line-height: 0;
  position: relative;
}

/* Navigation */
.main-header, .nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.site-logo {
  width: 110px;
  align-self: center;
}

.nav {
  margin-top: 1em;
  background-color: ;
}

.nav a {
  display: block;
  color: #383838;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
}

.nav a:hover {
  color: #0b0b0b;
  background-color: rgba(210,25,30,0.6);
}
/* Banner

.banner,
.footer {
  text-align: center;
}

.banner {
  color: #fff;
  background: #3acec2;
  padding: 4.2em 0;
  margin-bottom: 60px;
} */

/*=== Slideshow ===*/
/*Slideshow Container*/
.slideshow-container {
  position: relative;
  margin: auto;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.slideshow-container img {
  position: absolute;
  width: auto;
  max-width: 480px;
}
.mySlides {
  display: none;
}

/*Next and prev. buttons*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the next button to the right */
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover add black see-through background */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Bullet points */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; 
  transition: background-color 0.6 ease;

}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-name: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Layout */
.col {
  padding-right: 1em;
  padding-left: 1em;
}
.address {
  text-align: center;
}
/* Footer */
.footer {
  text-align: center;
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
  position: relative;
  overflow: auto;
}

.hours {
  text-align: center;
  float: right;
}

/*===== CONTACT PAGE =====*/

/*Map*/
#map {
  width: 180px;
  height: 200px;
}
/* Contact Form */
input[type=text], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2; 
  padding: 20px;
  width: 550px;
}

/* Media Queries */
@media (min-width: 769px) {
  .main-header {
    height: 150px;
    justify-content: flex-end;
    position: ;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
  }
  .main-header /*gradient*/ {
    background: linear-gradient(to top, rgba(64,64,64,0), rgba(64,64,64,1.5));
  }
  .site-logo {
    width: 140px;
    top: 10px;
  }
  .nav {
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    border-bottom-color: transparent;
    color: #fff;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .slideshow-container {
    height: 850px;

  }
  .slideshow-container img {
    max-width: 1000px;
    height: 800px;
  }

  .feat-img {
    display: flex;
    flex-wrap: wrap;
  }
  .about,
  .hours {
    width: 50%;
  }
  .col {
    float: left;
    padding-left: 15px;

  }
}

/* float clearfix */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

@media (min-width: 1025px) {
  .container {
    width: 80%;
    max-width: 1150px;
  }
  .main-header {
    flex-direction: row;
  }
  .site-logo {
    margin-right: auto;
    float: left;

  }
  .nav {
    margin-top: 0;
    align-self: center;
  }
  .nav li {
    margin-left: .65em;
    margin-right: .65em;
  }
  .about {
    width: 40%;
  }
  .about,
  .hours{
    width: 30%;
  }
  .feat-img {
    width: 600px;
  }
  #map {
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
  }
  .primary {
    width: 40%;
  }
  .about, .hours{
    width: 30%;
  }
  .slideshow-container img {
    max-width: 2000px;
    width: 100%;
  }
}
